body{
  padding: 0;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  text-shadow: 3px 2px 6px;
  font-family: "Broadway";

}
nav {
  display: flex;
  justify-content: center;
}
ul {
  background-color: #d56a17;
  list-style-type: none;
  margin: 0;
  padding: 0 121px 0 118px;
}
li{
  float: left;
  border-radius: 6px;
  background: -webkit-linear-gradient(left, #ff8c00, #d56a17);
  padding: 10px 0 10px 0px;
}
li a {
  text-decoration: none;
  padding: 10px;
  color: black;
  border-radius: 6px;
}
li a:hover,
.desplegable:hover {
  background: -webkit-linear-gradient(left, #d56a17, #ff8c00);
  border-radius: 6px;
}
#img{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}