body {
  color: #c9c2c0;
  font-family: "Gelasio";
  margin: 0;
  background-color: #464342;
}
.titulo {
  color: #ceab98;
}
.subtitulo {
  color: #c5a08d;
}
#tema {
  display: grid;
  grid-template: "body accent" minmax(24em, auto) / 62.5% 37.5%;
}
#temaD {
    padding: 85.5px 67.5px;
    max-width: 588.13px;
    max-height: 602.08px;
    
}
#temaD1{
    max-width: 483px;
    max-height: 202px;
}
#temaD2{
    max-width: 453.13px;
    max-height: 201.58px;
    font-size: 1.2em;
    word-wrap: break-word;
    border-width: 0;
    border-style: solid;
    box-sizing: border-box;
    line-height: 1.5em;
}
#temaI{
    padding: 18px;
    width: 316px;
    height: 566px;
    padding: 18px;
    border-radius: 30px;
    object-fit: cover;
}